.cart-container {
  min-height: 200px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
}
.cart-label {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 5px;
}

table {
  width: 100%;
}

th {
    font-size: 1rem;
}